/* 自定义主题
 * https://element.eleme.cn/#/zh-CN/theme/preview
 */

/*********************************** Color ***********************************/
// Brand Color
$--color-primary: #F1B7D0;
// Functional Color
$--color-success: #67C23A;
$--color-warning: #E6A23C;
$--color-danger: #B95881;
$--color-info: #909399;
$--color-error: #B95881;

/*********************************** Color ***********************************/
$--table-row-hover-background-color: #eee;

/*********************************** Button ***********************************/
$--button-font-weight: 400;

/*********************************** Checkbox ***********************************/
$--checkbox-font-color: #909297;

/*********************************** Pagination ***********************************/
$--pagination-hover-color: #5755B3;

/*********************************** Tree ***********************************/
$--tree-node-hover-background-color: #F5F7FA;
$--tree-expand-icon-color: #c8c8c8;

/*********************************** Table ***********************************/
$--table-row-hover-background-color: #F6F7FB;

/*********************************** Radio ***********************************/
$--radio-checked-font-color: #5755B3;
$--radio-checked-icon-color: #5755B3;
$--radio-checked-input-border-color: #5755B3;

