.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
yarn.lock
yarn-debug.log
yarn-error.log
npm-debug.log
package-lock.json

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
