@import './element-iconfont';
@import './element-variables';

// 改变 icon 字体路径变量，必需
$--font-path: '~element-ui/lib/theme-chalk/fonts';

// 引入element默认样式
@import '~element-ui/packages/theme-chalk/src/index';
